.videoCard {
  margin-top: 40px;
  width: 350px;
  margin-left: 10px;
  object-fit: contain;
  padding-left: 10px;
}
.videoCard__thumbnail {
  height: 140px;
  width: 250px;
}
.videoCard__info {
  display: flex;
  margin-top: 10px;
  padding-right: 00px;
}
/* 02:06:00 */
.videoCard_text {
  margin-left: 15px;
}

.video_text > h4 {
  font-size: 14px;
  margin-bottom: 5px;
}

.videoCard_text > p {
  font-size: 14px;
  color: gray;
}

.videoCard__avater {
  height: 30px !important;
  width: 30px !important;
}
