.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: white;
}
.header__logo {
  height: 60px;
  object-fit: contain;
  margin-left: 10px;
}

.header__input {
  display: flex;
  align-items: center;
  width: 40%;
  border-radius: 30px;
  border: 1px solid #dcdcdc;
  padding-left: 18px;
  border: 1px solid lightgray;
}
.header__input:hover {
  box-shadow: 1px 1px 8px 1px #dcdcdc;
  transition: 0.15s;
}
.header__input:focus-within {
  box-shadow: 1px 1px 8px 1px #dcdcdc;
  outline: none;
}
.header__inputButton {
  width: 50px !important;

  color: gray;
}
.header__left {
  display: flex;
  align-items: center;
}
.header__icons {
  display: flex;
  align-items: center;
}
.header__input > input {
  float: 1;
  border: none;
}
.header__icon {
  margin-right: 8px;
}
.searchbar {
  height: 45px;
  border: none;
  width: 95%;
  font-size: 16px;
  outline: none;
}
